/* ------------------- style definitions --------------- */

body {
    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1em;

}

h1 {
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;

}

h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
    font-size: 2em;

}

p {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-top: 0px;
    line-height: 2;

}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    margin: 125px auto;
    width: 4%;
}

a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}

a:hover {
    color: #eaf6f6;

}

/*--------------- class definitions -----------------*/

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
    /* height: 100px; */
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.chili-img {
    margin-left: 30px;;
    float: right;
    width: 25%;
}

.cloud-bottom {
    position: absolute;
    top: 32%;
    left: 15%;
    
}

.cloud-top{
    position: absolute;
    top: 10%;
    right: 15%;
    
}

.computer-img {
    margin-right: 30px;
    float: left;
    width: 25%;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.end-credits {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    color: #11999e;
}

.middle-container {
    padding-top: 100px;
    padding-bottom: 100px;

}

.mountain {
    position: relative;

}

.pro {
    text-decoration: underline;

}

.profile-text {
    margin: auto;  
    width: 50%;
}

.square {
    height: 200px;
    width: 200px;

}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;

}

.top-container {
    background-color: #eaf6f6;
    padding-top: 100px;
}

